<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>type</key>
		<string>emoji</string>
		<key>group</key>
		<string>emoji</string>
		<key>groupicon</key>
		<string>EmotionsEmojiHL</string>
		<key>items</key>
		<array>
			<dict><key>text</key><string>NO</string><key>image</key><string>NO</string></dict>
<dict><key>text</key><string>OK</string><key>image</key><string>OK</string></dict>
<dict><key>text</key><string>刀</string><key>image</key><string>刀</string></dict>
<dict><key>text</key><string>吐</string><key>image</key><string>吐</string></dict>
<dict><key>text</key><string>吓</string><key>image</key><string>吓</string></dict>
<dict><key>text</key><string>嘘</string><key>image</key><string>嘘</string></dict>
<dict><key>text</key><string>困</string><key>image</key><string>困</string></dict>
<dict><key>text</key><string>弱</string><key>image</key><string>弱</string></dict>
<dict><key>text</key><string>强</string><key>image</key><string>强</string></dict>
<dict><key>text</key><string>怒</string><key>image</key><string>怒</string></dict>
<dict><key>text</key><string>晕</string><key>image</key><string>晕</string></dict>
<dict><key>text</key><string>色</string><key>image</key><string>色</string></dict>
<dict><key>text</key><string>药</string><key>image</key><string>药</string></dict>
<dict><key>text</key><string>衰</string><key>image</key><string>衰</string></dict>
<dict><key>text</key><string>酷</string><key>image</key><string>酷</string></dict>
<dict><key>text</key><string>下雨</string><key>image</key><string>下雨</string></dict>
<dict><key>text</key><string>乒乓</string><key>image</key><string>乒乓</string></dict>
<dict><key>text</key><string>便便</string><key>image</key><string>便便</string></dict>
<dict><key>text</key><string>信封</string><key>image</key><string>信封</string></dict>
<dict><key>text</key><string>偷笑</string><key>image</key><string>偷笑</string></dict>
<dict><key>text</key><string>傲慢</string><key>image</key><string>傲慢</string></dict>
<dict><key>text</key><string>再见</string><key>image</key><string>再见</string></dict>
<dict><key>text</key><string>冷汗</string><key>image</key><string>冷汗</string></dict>
<dict><key>text</key><string>凋谢</string><key>image</key><string>凋谢</string></dict>
<dict><key>text</key><string>删除</string><key>image</key><string>删除</string></dict>
<dict><key>text</key><string>勾引</string><key>image</key><string>勾引</string></dict>
<dict><key>text</key><string>发呆</string><key>image</key><string>发呆</string></dict>
<dict><key>text</key><string>发抖</string><key>image</key><string>发抖</string></dict>
<dict><key>text</key><string>可怜</string><key>image</key><string>可怜</string></dict>
<dict><key>text</key><string>可爱</string><key>image</key><string>可爱</string></dict>
<dict><key>text</key><string>咒骂</string><key>image</key><string>咒骂</string></dict>
<dict><key>text</key><string>咖啡</string><key>image</key><string>咖啡</string></dict>
<dict><key>text</key><string>啤酒</string><key>image</key><string>啤酒</string></dict>
<dict><key>text</key><string>回头</string><key>image</key><string>回头</string></dict>
<dict><key>text</key><string>坏笑</string><key>image</key><string>坏笑</string></dict>
<dict><key>text</key><string>多云</string><key>image</key><string>多云</string></dict>
<dict><key>text</key><string>大兵</string><key>image</key><string>大兵</string></dict>
<dict><key>text</key><string>大哭</string><key>image</key><string>大哭</string></dict>
<dict><key>text</key><string>太阳</string><key>image</key><string>太阳</string></dict>
<dict><key>text</key><string>奋斗</string><key>image</key><string>奋斗</string></dict>
<dict><key>text</key><string>奶瓶</string><key>image</key><string>奶瓶</string></dict>
<dict><key>text</key><string>委屈</string><key>image</key><string>委屈</string></dict>
<dict><key>text</key><string>害羞</string><key>image</key><string>害羞</string></dict>
<dict><key>text</key><string>尴尬</string><key>image</key><string>尴尬</string></dict>
<dict><key>text</key><string>差劲</string><key>image</key><string>差劲</string></dict>
<dict><key>text</key><string>彩带</string><key>image</key><string>彩带</string></dict>
<dict><key>text</key><string>彩球</string><key>image</key><string>彩球</string></dict>
<dict><key>text</key><string>得意</string><key>image</key><string>得意</string></dict>
<dict><key>text</key><string>微笑</string><key>image</key><string>微笑</string></dict>
<dict><key>text</key><string>怄火</string><key>image</key><string>怄火</string></dict>
<dict><key>text</key><string>惊恐</string><key>image</key><string>惊恐</string></dict>
<dict><key>text</key><string>惊讶</string><key>image</key><string>惊讶</string></dict>
<dict><key>text</key><string>憨笑</string><key>image</key><string>憨笑</string></dict>
<dict><key>text</key><string>手枪</string><key>image</key><string>手枪</string></dict>
<dict><key>text</key><string>抓狂</string><key>image</key><string>抓狂</string></dict>
<dict><key>text</key><string>折磨</string><key>image</key><string>折磨</string></dict>
<dict><key>text</key><string>抠鼻</string><key>image</key><string>抠鼻</string></dict>
<dict><key>text</key><string>抱抱</string><key>image</key><string>抱抱</string></dict>
<dict><key>text</key><string>抱拳</string><key>image</key><string>抱拳</string></dict>
<dict><key>text</key><string>拳头</string><key>image</key><string>拳头</string></dict>
<dict><key>text</key><string>挥手</string><key>image</key><string>挥手</string></dict>
<dict><key>text</key><string>握手</string><key>image</key><string>握手</string></dict>
<dict><key>text</key><string>撇嘴</string><key>image</key><string>撇嘴</string></dict>
<dict><key>text</key><string>擦汗</string><key>image</key><string>擦汗</string></dict>
<dict><key>text</key><string>敲打</string><key>image</key><string>敲打</string></dict>
<dict><key>text</key><string>月亮</string><key>image</key><string>月亮</string></dict>
<dict><key>text</key><string>汽车</string><key>image</key><string>汽车</string></dict>
<dict><key>text</key><string>沙发</string><key>image</key><string>沙发</string></dict>
<dict><key>text</key><string>流汗</string><key>image</key><string>流汗</string></dict>
<dict><key>text</key><string>流泪</string><key>image</key><string>流泪</string></dict>
<dict><key>text</key><string>激动</string><key>image</key><string>激动</string></dict>
<dict><key>text</key><string>灯泡</string><key>image</key><string>灯泡</string></dict>
<dict><key>text</key><string>炸弹</string><key>image</key><string>炸弹</string></dict>
<dict><key>text</key><string>熊猫</string><key>image</key><string>熊猫</string></dict>
<dict><key>text</key><string>爆筋</string><key>image</key><string>爆筋</string></dict>
<dict><key>text</key><string>爱你</string><key>image</key><string>爱你</string></dict>
<dict><key>text</key><string>爱心</string><key>image</key><string>爱心</string></dict>
<dict><key>text</key><string>爱情</string><key>image</key><string>爱情</string></dict>
<dict><key>text</key><string>猪头</string><key>image</key><string>猪头</string></dict>
<dict><key>text</key><string>猫咪</string><key>image</key><string>猫咪</string></dict>
<dict><key>text</key><string>献吻</string><key>image</key><string>献吻</string></dict>
<dict><key>text</key><string>玫瑰</string><key>image</key><string>玫瑰</string></dict>
<dict><key>text</key><string>瓢虫</string><key>image</key><string>瓢虫</string></dict>
<dict><key>text</key><string>疑问</string><key>image</key><string>疑问</string></dict>
<dict><key>text</key><string>白眼</string><key>image</key><string>白眼</string></dict>
<dict><key>text</key><string>皮球</string><key>image</key><string>皮球</string></dict>
<dict><key>text</key><string>睡觉</string><key>image</key><string>睡觉</string></dict>
<dict><key>text</key><string>磕头</string><key>image</key><string>磕头</string></dict>
<dict><key>text</key><string>示爱</string><key>image</key><string>示爱</string></dict>
<dict><key>text</key><string>礼物</string><key>image</key><string>礼物</string></dict>
<dict><key>text</key><string>篮球</string><key>image</key><string>篮球</string></dict>
<dict><key>text</key><string>米饭</string><key>image</key><string>米饭</string></dict>
<dict><key>text</key><string>纸巾</string><key>image</key><string>纸巾</string></dict>
<dict><key>text</key><string>胜利</string><key>image</key><string>胜利</string></dict>
<dict><key>text</key><string>菜刀</string><key>image</key><string>菜刀</string></dict>
<dict><key>text</key><string>蛋糕</string><key>image</key><string>蛋糕</string></dict>
<dict><key>text</key><string>蜡烛</string><key>image</key><string>蜡烛</string></dict>
<dict><key>text</key><string>街舞</string><key>image</key><string>街舞</string></dict>
<dict><key>text</key><string>西瓜</string><key>image</key><string>西瓜</string></dict>
<dict><key>text</key><string>调皮</string><key>image</key><string>调皮</string></dict>
<dict><key>text</key><string>象棋</string><key>image</key><string>象棋</string></dict>
<dict><key>text</key><string>跳绳</string><key>image</key><string>跳绳</string></dict>
<dict><key>text</key><string>跳跳</string><key>image</key><string>跳跳</string></dict>
<dict><key>text</key><string>车厢</string><key>image</key><string>车厢</string></dict>
<dict><key>text</key><string>转圈</string><key>image</key><string>转圈</string></dict>
<dict><key>text</key><string>鄙视</string><key>image</key><string>鄙视</string></dict>
<dict><key>text</key><string>钞票</string><key>image</key><string>钞票</string></dict>
<dict><key>text</key><string>钻戒</string><key>image</key><string>钻戒</string></dict>
<dict><key>text</key><string>闪电</string><key>image</key><string>闪电</string></dict>
<dict><key>text</key><string>闭嘴</string><key>image</key><string>闭嘴</string></dict>
<dict><key>text</key><string>闹钟</string><key>image</key><string>闹钟</string></dict>
<dict><key>text</key><string>阴险</string><key>image</key><string>阴险</string></dict>
<dict><key>text</key><string>难过</string><key>image</key><string>难过</string></dict>
<dict><key>text</key><string>雨伞</string><key>image</key><string>雨伞</string></dict>
<dict><key>text</key><string>青蛙</string><key>image</key><string>青蛙</string></dict>
<dict><key>text</key><string>面条</string><key>image</key><string>面条</string></dict>
<dict><key>text</key><string>鞭炮</string><key>image</key><string>鞭炮</string></dict>
<dict><key>text</key><string>风车</string><key>image</key><string>风车</string></dict>
<dict><key>text</key><string>飞吻</string><key>image</key><string>飞吻</string></dict>
<dict><key>text</key><string>飞机</string><key>image</key><string>飞机</string></dict>
<dict><key>text</key><string>饥饿</string><key>image</key><string>饥饿</string></dict>
<dict><key>text</key><string>香蕉</string><key>image</key><string>香蕉</string></dict>
<dict><key>text</key><string>骷髅</string><key>image</key><string>骷髅</string></dict>
<dict><key>text</key><string>麻将</string><key>image</key><string>麻将</string></dict>
<dict><key>text</key><string>鼓掌</string><key>image</key><string>鼓掌</string></dict>
<dict><key>text</key><string>龇牙</string><key>image</key><string>龇牙</string></dict>
<dict><key>text</key><string>么么哒</string><key>image</key><string>么么哒</string></dict>
<dict><key>text</key><string>右哼哼</string><key>image</key><string>右哼哼</string></dict>
<dict><key>text</key><string>右太极</string><key>image</key><string>右太极</string></dict>
<dict><key>text</key><string>右车头</string><key>image</key><string>右车头</string></dict>
<dict><key>text</key><string>左哼哼</string><key>image</key><string>左哼哼</string></dict>
<dict><key>text</key><string>左太极</string><key>image</key><string>左太极</string></dict>
<dict><key>text</key><string>左车头</string><key>image</key><string>左车头</string></dict>
<dict><key>text</key><string>心碎了</string><key>image</key><string>心碎了</string></dict>
<dict><key>text</key><string>快哭了</string><key>image</key><string>快哭了</string></dict>
<dict><key>text</key><string>打哈欠</string><key>image</key><string>打哈欠</string></dict>
<dict><key>text</key><string>棒棒糖</string><key>image</key><string>棒棒糖</string></dict>
<dict><key>text</key><string>礼品袋</string><key>image</key><string>礼品袋</string></dict>
<dict><key>text</key><string>糗大了</string><key>image</key><string>糗大了</string></dict>
<dict><key>text</key><string>红双喜</string><key>image</key><string>红双喜</string></dict>
<dict><key>text</key><string>红灯笼</string><key>image</key><string>红灯笼</string></dict>
<dict><key>text</key><string>麦克风</string><key>image</key><string>麦克风</string></dict>
			
		</array>
	</dict>
	<dict>
		<key>type</key>
		<string>gif</string>
		<key>group</key>
		<string>custom</string>
		<key>groupicon</key>
		<string>EmotionCustomHL</string>
		<key>items</key>
		<array>
			<dict>
				<key>image</key>
				<string>EmoticonAddButton</string>
			</dict>
			<dict>
				<key>image</key>
				<string>dice_Action_0</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>type</key>
		<string>gif</string>
		<key>group</key>
		<string>tuzki</string>
		<key>groupicon</key>
		<string>EPackageTusijiImage</string>
		<key>items</key>
		<array>
			<dict>
				<key>id</key>
				<string>0</string>
				<key>image</key>
				<string>Tuzki_1</string>
				<key>imageGIF</key>
				<string>Tuzki_1</string>
			</dict>
			<dict>
				<key>id</key>
				<string>1</string>
				<key>image</key>
				<string>Tuzki_2</string>
				<key>imageGIF</key>
				<string>Tuzki_3</string>
			</dict>
			<dict>
				<key>id</key>
				<string>2</string>
				<key>image</key>
				<string>Tuzki_3</string>
				<key>imageGIF</key>
				<string>Tuzki_3</string>
			</dict>
			<dict>
				<key>id</key>
				<string>3</string>
				<key>image</key>
				<string>Tuzki_4</string>
				<key>imageGIF</key>
				<string>Tuzki_4</string>
			</dict>
			<dict>
				<key>id</key>
				<string>4</string>
				<key>image</key>
				<string>Tuzki_5</string>
				<key>imageGIF</key>
				<string>Tuzki_5</string>
			</dict>
			<dict>
				<key>id</key>
				<string>5</string>
				<key>image</key>
				<string>Tuzki_6</string>
				<key>imageGIF</key>
				<string>Tuzki_6</string>
			</dict>
			<dict>
				<key>id</key>
				<string>6</string>
				<key>image</key>
				<string>Tuzki_7</string>
				<key>imageGIF</key>
				<string>Tuzki_7</string>
			</dict>
			<dict>
				<key>id</key>
				<string>7</string>
				<key>image</key>
				<string>Tuzki_8</string>
				<key>imageGIF</key>
				<string>Tuzki_8</string>
			</dict>
			<dict>
				<key>id</key>
				<string>8</string>
				<key>image</key>
				<string>Tuzki_9</string>
				<key>imageGIF</key>
				<string>Tuzki_9</string>
			</dict>
			<dict>
				<key>id</key>
				<string>9</string>
				<key>image</key>
				<string>Tuzki_10</string>
				<key>imageGIF</key>
				<string>Tuzki_10</string>
			</dict>
			<dict>
				<key>id</key>
				<string>10</string>
				<key>image</key>
				<string>Tuzki_11</string>
				<key>imageGIF</key>
				<string>Tuzki_11</string>
			</dict>
			<dict>
				<key>id</key>
				<string>11</string>
				<key>image</key>
				<string>Tuzki_12</string>
				<key>imageGIF</key>
				<string>Tuzki_12</string>
			</dict>
			<dict>
				<key>id</key>
				<string>12</string>
				<key>image</key>
				<string>Tuzki_13</string>
				<key>imageGIF</key>
				<string>Tuzki_13</string>
			</dict>
			<dict>
				<key>id</key>
				<string>13</string>
				<key>image</key>
				<string>Tuzki_14</string>
				<key>imageGIF</key>
				<string>Tuzki_14</string>
			</dict>
			<dict>
				<key>id</key>
				<string>14</string>
				<key>image</key>
				<string>Tuzki_15</string>
				<key>imageGIF</key>
				<string>Tuzki_15</string>
			</dict>
			<dict>
				<key>id</key>
				<string>15</string>
				<key>image</key>
				<string>Tuzki_16</string>
				<key>imageGIF</key>
				<string>Tuzki_16</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
